:root {
    --primaryColourPage: #9A9A9A;
    --darkColor: #030000;
    --whiteColor: #ffffff;
}

textarea {
    resize: none;
}

/* //////////////
   Nav
//////////////*/
.navbar {
    background-color: var(--darkColor);
}

.nav-link {
    font-size: 1.2rem;
    line-height: 37px;
    display: block;
    padding: .5rem 1rem;
}

/* //////////////
   Tabla
//////////////*/

.content-table {
    border-collapse: collapse;
    z-index: 100;
    font-size: 0.9em;
    padding: 10px;
}

.content-table thead tr {
    background:var(--darkColor);
    color: var(--whiteColor);
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 8px;
    vertical-align: inherit;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr input{
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
}

.contenedor-btn-salir {
    display: flex;
    justify-content: flex-end;
    /* height: 5px; */
}

.contenedor-btn-salir .btn-salir {
    outline: none;
    font-size: 20px;
    padding: 10px 0px;
    border: 1px solid transparent;
    background: none;
}
.btn_cargar_articulo, .btn-agregar-articulo {
    background-color: #f04603;
}

.btn-delete-articulo, .btn-update-articulo {
    font-size: 25px;
    border: 1px solid transparent;
    cursor: pointer;
    background: none;
}


.btn-delete-articulo:hover, .btn-update-articulo:hover {
    color: var(--primaryColourPage);
}

.btn-delete-articulo:focus, .btn-update-articulo:focus {
    outline: none;
  
}

td img {
    max-width: 50px;
    max-height: 50px;
    padding: 2px;
    cursor: pointer;
}

/* //////////////
   Cargar articulo
//////////////*/
.contenedor-cargar-articulo.activo {
    display: flex;
}
.contenedor-cargar-articulo{
    z-index: 200;
    position: fixed;
    top: 69px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
}

.pop-up-carga-articulo {
    background: var(--whiteColor);
    max-height: 660px;
    border-radius: 10px;
    margin-top: 10px;
}

.row {
    justify-content: center;
}

.img-carga-articulo {
    justify-content: space-between;
}

.img-carga-articulo .add-new-photo {
    display: flex;
    border: 4px dashed var(--primaryColourPage);
    min-height: 240px;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    color: var(--primaryColourPage);
    border-radius: 4px;
 
}

.img-carga-articulo .add-new-photo label{
    cursor: pointer;
    z-index: 100;
}

.new-photo {
    display: none;
}

.preview {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.preview img{
    position: absolute;
    /* left: 19px; */
    top: 3px;
    /* max-width: 187px; */
    /* max-height: 200px; */
    width: 89%;
    height: 90%;
}
