:root {
    --primaryColourPage: #9A9A9A;
    --darkColor: #030000;
    --whiteColor: #ffffff;
    --primaryColourBtn: FFB800;
    --secondaryColourBtn: 815D00;
}

/* //////////////
   Nav
//////////////*/
.navbar {
    background-color: var(--darkColor);
}

.nav-link {
    font-size: 1.2rem;
    line-height: 37px;
    display: block;
    padding: .5rem 1rem;
}

/* //////////////
   Tabla
//////////////*/

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    padding: 10px;
}

.content-table thead tr {
    background:var(--darkColor);
    color: var(--whiteColor);
    font-weight: bold;
}

.content-table th,
.content-table td {
  /* padding: 10px; */
  max-width: 15px;
  vertical-align: inherit;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr input{
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
}

.btn-delete-articulo, .btn-update-articulo {
    font-size: 25px;
    border: 1px solid transparent;
    cursor: pointer;
    background: none;
}


.btn-delete-articulo:hover, .btn-update-articulo:hover {
    color: var(--primaryColourPage);
}

.btn-delete-articulo:focus, .btn-update-articulo:focus {
    outline: none;
  
}