:root {
    --dark-color: #1a1a1a;
    --white-color: #ffffff;
}
/* .form-row input, .form-row label { */
    /* width: 190px; */
    /* height: 30px;
    border-radius: 3px;
} */

/* .form-group, .input-group {
    margin: 10px 0px;
    padding: 10px;
} */

/* .btn {
    background-color: forestgreen;
    margin: 5px 10px 5px 30px;
    padding: 0.5em;
    border-radius: 5px;
} */

/* .containLogo{
    background-color: rgb(45, 45, 45);
}

#imgLogo{
    width: 70px;
    height: 70px;
    padding: 20px 0px;
}

.tit_pgn{
    margin-top: 20px;
} */

.btnRegUsr {
    width: 100%;
}

.btn-primary {
    background-color: var(--dark-color);
    color: var(--white-color);
}

h3 {
    font-size: 33px;
}

.registro p {
    font-size: 18px;
    color: var(--dark-color);
    opacity: .5;
    line-height: 1.8;
    margin-bottom: 0px;
}

.registro {
    padding: 150px 0;
}